#textdomain wesnoth-ZitU

[scenario]
	id=Life
	name= _ "Life"
	map_data="{LD maps/Life.map}"
	next_scenario=Insanity

	turns=40
	victory_when_enemies_defeated=no

	{DEFAULT_MUSIC_PLAYLIST}
	{COMMON_DEATHS}
	{DEFAULT_SCHEDULE_MORNING}

	[side]
		{SIDE_1}
		gold=200
		fog=yes
		shroud=yes
	[/side]

	[side]
		side=2
		controller=ai
		share_vision=none

		[ai]
			ai_algorithm=idle_ai
		[/ai]

		team_name=Friendly,Forest
		user_team_name= _ "Elves"

		hidden=yes
	[/side]

	[side]
		side=3
		controller=ai

		team_name=Enemy,Forest
		user_team_name= _ "The Forest"

		hidden=yes
	[/side]

	[event]
		name=prestart
		{RECALL_LOYALS_4}
	[/event]

	[event]
		name=moveto
		[filter]
			side=1
			x=10-99
			y=1-48
		[/filter]

		[message]
			speaker=unit
			message= _ "The forest grows much greener to the north."
		[/message]
	[/event]

	[event]
		name=start

		[objectives]
			[objective]
				condition=win
				description= _ "Reach the end of the valley."
			[/objective]
			{COMMON_LOSSES}
			{CARRYOVER_OBJECTIVE 40 yes}
		[/objectives]
	[/event]
[/scenario]
